@charset "UTF-8";


img.restaurant-photo {
	height: 300px;
	width: 400px;
}

img.restaurant-photo-lg {
	height: 400px;
	width: 500px;
}

.restaurants {
	float: left;
	padding: 10px;
}

div.head {
	scroll-behavior: inherit;
	/* position: fixed; */
	top: 0px;
	width: 100%;
	background-color: darkseagreen;
	text-align: center;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	width: 100%;
	text-align: center;
}